<div class="img-body"></div>
	
<nav class="navbar navbar-default nav-menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-menu-ul">
	    <li class="item-menu"><a href="index.jsp">Home</a></li>
                <li class="item-menu"><a href="../JSP/votacao.jsp">Votar</a></li>
        <li class="item-menu"><a href="../JSP/controleacessoAcompanhar" >Acompanhar</a></li>
        <li class="item-menu"><a href="../JSP/addUsuario.jsp">Criar Login</a></li>
        <li class="item-menu"><a href="../JSP/controleacessoAddCand">Adicionar Candidato</a></li>            
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>